body {
  background: #EBEBEB;
  color: #000;
  font-family: 'Inconsolata', monospace;
}

.accessGranted {
  position: fixed;
  top: 200px;
  background: #333;
  padding: 20px;
  border: 1px solid #999;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  color: #fff;
}

.accessDenied {
  position: fixed;
  top: 200px;
  color: #f00;
  background: #511;
  padding: 20px;
  border: 1px solid #f00;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBEBEB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EBEBEB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EBEBEB;
}
